<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unb.cic.mp.marketmaster">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/market_master_icon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/title_activity_cadastro" />
        <activity
            android:name=".GerenciarItensActivity"
            android:label="@string/title_activity_gerenciar_itens" />
        <activity android:name=".ListaActivity" />
        <activity
            android:name=".GerenciarListasActivity"
            android:label="@string/title_activity_gerenciar_listas" />
        <activity android:name=".ItemActivity" />
        <activity
            android:name=".AdicionarItensActivity"
            android:label="@string/title_activity_adicionar_itens" />
        <activity
            android:name=".DescricaoItemActivity"
            android:label="@string/title_activity_descricao_item" />
        <activity
            android:name=".AdicionarListaActivity"
            android:label="@string/title_activity_adicionar_lista" />
        <activity
            android:name=".CadastroItemActivity"
            android:label="@string/title_activity_cadastro_item" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_tela_admin" />
        <activity
            android:name=".CriaItemActivity"
            android:label="@string/title_activity_cria_item" />
        <activity
            android:name=".EditarPerfilActivity"
            android:label="@string/title_activity_editar_perfil" />
        <activity android:name=".ListaFinalizadaActivity" />
        <activity android:name=".SupermercadoActivity" />
        <activity android:name=".GerenciarItemAposEscolhaActivity" />
        <activity android:name=".ItemAposEscolhaActivity" />
        <activity android:name=".PegarItemActivity" />
        <activity android:name=".FinalizarActivity" />
        <activity android:name=".ItensNaoPegosActivity"></activity>
    </application>

</manifest>